.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-h2 {
  background-color: #45cbec;
  min-height: 200px;
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(15px);
  color: white;
  min-width: 30vh;
  margin-bottom: 30px;
}

.App-h3 {
  background-color: #45cbec;
  min-height: 200px;
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(15px);
  color: white;
  min-width: 30vh;
  margin-bottom: 30px;
}

.App-row {
  background-color: #45cbec;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.App-square {
  background-color: #ffffff;
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-button {
  margin-top: 0vh;
  box-sizing: border-box;
  min-height: 4vh;
  min-width: 12vh;
  font-size: calc(8px + 1vmin);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.App-button2 {
  margin-top: 2vh;
  box-sizing: border-box;
  min-height: 4vh;
  min-width: 12vh;
  font-size: calc(8px + 1vmin);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.App-box {
  background-color: #45cbec;

  min-height: 200px;
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(15px);
  color: white;
  min-width: 30vh;
}
