.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-headerSec {
  background-color: #45cbec;
  min-height: 5vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(15px);
  color: white;
  min-width: 30vh;
}
.App-row {
  /* margin-top: 5vh; */
  background-color: #45cbec;
  /* min-height: 5vh; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
  /* min-width: 50vh; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
